<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Request Header Parser Microservice</h1>
         <h2>User Story</h2>
         <ol>
           <li>I can get the IP address, preferred languages (from header Accept-Language)
and system infos (from header User-Agent) for my device. </li>
        </ol>
        <h2>Example Usage</h2>
         <ul>
           <li><a href="https://ja-reqheaderparser-ms.glitch.me/api/whoami">https://ja-reqheaderparser-ms.glitch.me/api/whoami</a></li>
        </ul>
        <h2>Example Output</h2>
         {"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",
"software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}      </div>
   </body>

</html>
